/*import font from google font*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*style for header*/
html,body, .container {
	height: 100%;
	margin: 0;
}
header {
	position: relative;
	background: white;
	height: 56px;
	display: block;
	position: fixed;
	width: 100%;
}
.logo img {
	height: 26px;
	margin-left: 38px;
	position: relative;
	top: 16px;
}
.wrap-menu {
	margin-right: 41px;
	bottom: 22px;
	float: right;
	position: relative;
}
#header ul li {
	text-transform: uppercase;
	display: inline-block;
	text-transform: uppercase;
}
#header ul, #footer ul {
	padding-left: 0;
}

/*style for footer */
#footer {
	text-align: center;
}
#footer ul li {
	text-transform: uppercase;
	display: inline-block;
}
.menu p, .wrap-footer p {
	padding-left: 5px;
	font-weight: bold;
	color: black;
}
.menu li a, .wrap-footer li a  {
	text-decoration: none;
}

/*style for container*/
.container {
	padding-top: 55px;	
}
.section {
	padding: 10px;
	padding-top: 50pt;
	text-align: center;
	border: 0px solid black;
	background-color: #07397636;
	height: 100%;
	min-height: 100%;
}
.sec-grid {
	width: 20%;
	cursor: pointer;
	display: inline-block;
	margin-left: 5px;
}
.sec-grid img{
	width: 100%;
}
p, .tagline {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
#sec-1 {
	padding: 0;
	padding-top: 0;
}
#sec-2 {
	background: url('img/back-image-(2).jpg') no-repeat center center fixed;
	background-size: cover;
}
#sec-3 {
	background: url('img/back-image-(3).jpg') no-repeat center center fixed;
	background-size: cover;
}
#sec-4 { 
	background: url('img/back-image-(4).jpg') no-repeat center center fixed;
	background-size: cover;
}


/* show modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #00000073;
}
.modal-content {
	background-color: white;
	margin: 7% auto;
	padding: 20px;
	border: 1px solid;
	width: 67%;
	height: 62%;
}
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


/*slideshows*/
/** {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
img {vertical-align: middle;}
*/

.mySlides {
	height: 100%;
	min-height: 100%;
}
.img-slide {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.mySlides img{
	display: block;
	object-fit: cover;
	width: 100%;
	min-height: 100%;
	height: 647px;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  display: block;
}

/* Position the "next button" */
.next {
  right: 20px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



/*style for dvd*/
.album {
	    position: relative;
	    width: 170px;
	}
	.album .cover {
	    position: relative;
	    z-index: 2;

	    width: 150px;
	    height: 150px;
	    margin-bottom: 10px;

	    border-radius: 3px 2px;

	    background-position: left top;
	    background-size: 150px auto;
	    background-repeat: no-repeat;

	    box-shadow: 0 0 8px -1px rgba(0,0,0,0.8);

	    cursor: pointer;
	}
	.album.clogs .cover {
	    background-image: url('img/transitions-clogs.png');
	}
	.album.gallows .cover {
	    background-image: url('img/transitions-gallows.png');
	}
	.album.vhs .cover {
	    background-image: url('img/transitions-vhs.png');
	}
	.album.apparat .cover {
	    background-image: url('img/transitions-apparat.png');
	}
	.album .play-button {
	    position: absolute;
	    left: 50px;
	    top: 50px;

	    width: 50px;
	    height: 50px;

	    border: 1px solid rgba(255,255,255,0.3);
	    border-radius: 50px;

	    background-image: 
	        url('img/transitions-play.png'),
	        linear-gradient(180deg, #313131, #0d0d0d);
	    background-position: 57% 49%, 50% 50%;
	    background-size: 16px auto, 100% auto;
	    background-repeat: no-repeat, no-repeat;

	    box-shadow: 
	        inset 0 0 3px 0 rgba(0,0,0,0.5),
	        0 0 4px 1px rgba(0,0,0,0.6),
	        inset 0 30px 30px -20px rgba(255,255,255,0);
	    opacity: 0;
	    transition: 
	        opacity 350ms ease,
	        box-shadow 150ms ease-in-out,
	        undefined undefined undefined;
	}
	.album:hover .play-button {
	    opacity: 1;
	}
	.album .play-button:hover {
	    box-shadow: 
	        inset 0 0 3px 0 rgba(0,0,0,0.5),
	        0 0 4px 1px rgba(0,0,0,0.7),
	        inset 0 30px 30px -20px rgba(255,255,255,0.1);
	}
	.album:hover .play-button {
	    opacity: 1;
	}
	.album .play-button span {
	    display: none;
	}
	.album .record {
	    position: absolute;
	    left: 35px;
	    top: 3px;
	    z-index: 1;

	    width: 147px;
	    height: 147px;

	    background-color: initial;
	    background-image: url('img/transitions-vinyl.png');
	    background-position: left top;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-attachment: initial;

	    transition: 
	        left 400ms ease-in-out,
	        transform 400ms ease-in-out,
	        undefined undefined undefined;
	}
	.span3 {
		margin-left: 60px;
	}
	.album:hover .record {
	    left: 75px;
	    transform: rotate(45deg);
	}
	.album .name {
	    font-size: 12px;
	    line-height: 26px;
	    font-weight: bold;
	}
	.album .byline {
	    font-family: 'Bitter', serif;
	    color: gray;
	    font-size: 12px;
	    font-style: italic;
	}
	@media (max-width: 767px) {
	    .album {
	        margin-bottom: 24px;
	    }
	}
	[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 20px;
	}